Repository majacQ/amplify-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elorzafe, @iartemiev, @manueliglesias, @jordanranz, @Ashish-Nanda, @sammartinez

fix: Beta_ds (#47)
  .circleci/config.yml
  package.json
Owners: @iartemiev

fix: release (#54)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_bug_report.yaml
  .github/workflows/bug-report-helper.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ossar-analysis.yml
  .github/workflows/rubocop-analysis.yml
  CONTRIBUTING.md
  docs/Gemfile
  docs/Gemfile.lock
  package.json
  packages/amplify-ui-components/package.json
  packages/amplify-ui-storybook/package.json
  packages/amplify-ui-vue/package.json
  packages/amplify-ui/package.json
  packages/api-graphql/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/package.json
  packages/cache/package.json
  packages/datastore/package.json
  packages/predictions/src/Providers/AmazonAIConvertPredictionsProvider.ts
  packages/pubsub/package.json
  packages/pushnotification/package.json
  vscode/package.json
Owners: @iartemiev, @sammartinez, @jordanranz, @elorzafe, @manueliglesias, @Ashish-Nanda

fix: Aws_sdk_bump/npm_preview (#50)
  .circleci/config.yml
  package.json
Owners: @iartemiev

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @sammartinez

Update 9 npm dependencies
  package-lock.json
  package.json
Owners: none

Create codeql-analysis.yml (#57)
  .github/workflows/codeql-analysis.yml
  package-lock.json
  package.json
Owners: @sammartinez

.github/CODEOWNERS:

/packages/auth @elorzafe
/packages/analytics @iartemiev
/packages/pubsub @manueliglesias
/packages/xr @jordanranz
/packages/amplify-ui @jordanranz
/packages/aws-amplify-react-native @Ashish-Nanda
/packages/pushnotification @Ashish-Nanda
/packages/datastore @manueliglesias
/.github/ @sammartinez
/.circleci/ @iartemiev
